<!DOCTYPE html>
<html lang="ja">

	<head>
		<meta charset="UTF-8">
		<title>404Error | SocymSlimMVC</title>

		<style>

			table {
				border-collapse: collapse;
			}
	
			th, td {
				border: solid 1px black;
			}
	
			button{
				font-size: 1.5em;
				border-radius: 0.5em;
				background-color: rgb(250, 247, 84);
			}
	
		</style>

	</head>

	<body>

		<h1>Error</h1>

		<section>
			<h2>URLが間違っています</h2>
			<p>始めからやり直してください。</p>
		</section>

		<br><br>

		<table  style="width: 30%;">

			<tr>

				<td style="border-style: hidden;">
					<form action="/showChangerList" method="post">
						<button type="submit">未処理全リスト</button>
					</form>
				</td>

				<td style="border-style: hidden;">
					<form action="/changerForKsc/1/1" method="post">
						<button ype="submit">メニュー</button>
					</form>
				</td>

			</tr>

		</table>

	</body>

</html>
