
<!--
///////////////////////////////////////////////////////////////////////////////
// スタイルシートを記述
///////////////////////////////////////////////////////////////////////////////
-->

    <style>


        table {
            border-collapse: collapse;
        }

        th, td {
        border: solid 1px black;
        }


        input[type="search"] {
        -webkit-appearance: searchfield;
        }
        input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: searchfield-cancel-button;
        }


        .button0 {
        font-size: 1.5em;
        border-radius: 0.5em;
        background-color: rgb(168, 247, 250);
        }
        .button0:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 215, 253);
        }

        .button1 {
        font-size: 1.0em;
        border-radius: 0.5em;
        background-color: rgb(168, 247, 250);
        }
        .button1:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 215, 253);
        }

        .button11 {
        font-size: 1.0em;
        text-align: center;
        border-color: rgb(168, 247, 250);
        border-top-style: hidden;
        border-bottom-style: hidden;
        border-right-style: hidden;
        border-left-color: rgb(0, 0, 0);
        border-radius: 0.5em;
        background-color: rgb(255, 255, 255);
        }
        .button11:hover {
        border-color: rgb(255, 215, 253);
        border-left-color: rgb(0, 0, 0);
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        }

        .button2 {
        font-size: 1.0em;
        border-radius: 0.5em;
        background-color: rgb(170, 252, 177);
        }
        .button2:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 215, 253);
        }

        .button22 {
        font-size: 1.0em;
        text-align: center;
        border-color: rgb(170, 252, 177);
        border-top-style: hidden;
        border-bottom-style: hidden;
        border-left-style: hidden;
        border-right-color: rgb(0, 0, 0);
        border-radius: 0.5em;
        background-color: rgb(255, 255, 255);
        }
        .button22:hover {
        border-color: rgb(255, 215, 253);
        border-right-color: rgb(0, 0, 0);
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        }

        .button3 {
        font-size: 1.5em;
        border-radius: 0.5em;
        background-color: rgb(170, 252, 177);
        }
        .button3:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 215, 253)
        }

        .button4 {
        font-size: 1.0em;
        border-radius: 0.5em;
        background-color: rgb(235, 250, 98);
        }
        .button4:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 215, 253);
        }

        .button5 {
        font-size: 1.0em;
        background-color: rgb(253, 253, 253);
        }
        .button5:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 215, 253);
        }

        .button6 {
        font-size: 1.5em;
        border-radius: 0.5em;
        background-color: rgb(255, 255, 0);
        }
        .button6:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 215, 253);
        }


        .h10title {
        color: rgb(0, 0, 0);;
        }

        .h11title {
        color: rgb(2, 153, 153);
        }

        .h12title {
        color: rgb(92, 92, 243);
        }

        .h13title {
        color: rgb(0, 167, 0);
        }

        .h14title {
        color: rgb(196, 196, 3);
        }

        .h15title {
        color: rgb(248, 175, 126);
        }

        .h16title {
        color: rgb(0, 0, 0);
        }

        .h17title {
        text-align: center;
        font-weight: 100;
        font-size: 0.7em;
        vertical-align: bottom;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        }

        .h18title {
        text-align: center;
        font-weight: 100;
        font-size: 0.7em;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        }

        .h19title {
        font-size: 1.2em;
        color: rgb(170, 7, 7);
        padding: 0.5em;
        border-radius: 0.5em;
        background-color: rgb(216, 248, 100);
        }


        .visually-hidden {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
        }

        /* 互換性のための別ルールとして、最近の Firefox と Chrome では :focus-within が必要です。 */
        input.visually-hidden:focus + label {
        outline: thin dotted;
        }
        input.visually-hidden:focus-within + label {
        outline: thin dotted;
        }


        .h20title {
        font-size: 1.2em;
        border-radius: 0.5em;
        background-color: rgb(211, 211, 211);
        }
        .h20title:hover {
        background-color: rgb(255, 215, 253);
        }

        .h21title {
        font-size: 1.2em;
        border-radius: 0.5em;
        background-color: rgb(99, 236, 236);
        }
        .h21title:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 215, 253);
        }

        .h22title {
        font-size: 1.2em;
        border-radius: 0.5em;
        background-color: rgb(188, 188, 255);
        }
        .h22title:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 215, 253);
        }

        .h23title {
        font-size: 1.2em;
        border-radius: 0.5em;
        background-color: rgb(145, 248, 145);
        }
        .h23title:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 215, 253);
        }

        .h24title {
        font-size: 1.2em;
        border-radius: 0.5em;
        background-color: rgb(250, 230, 143);
        }
        .h24title:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 215, 253);
        }

        .h25title {
        font-size: 1.2em;
        border-radius: 0.5em;
        background-color: rgb(248, 175, 126);
        }
        .h25title:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 215, 253);
        }

        .h26title {
        font-size: 1.2em;
        border-radius: 0.5em;
        background-color: rgb(211, 211, 211);
        }
        .h26title:hover {
        background-color: rgb(255, 215, 253);
        }


    </style>
