
<!--
///////////////////////////////////////////////////////////////////////////////
// タイトルを記述
///////////////////////////////////////////////////////////////////////////////
-->

    <div>


		{% if     stateMsg == 0  %}

			<h1 class="h10title">納期チェンジャー　( 納期変更の「申請ｺﾞﾐ箱」の内容です。 )</h1>

		{% elseif stateMsg == 1 %}

			<h1 class="h11title">納期チェンジャー　( 納期変更の「申請」を行なってください。 )</h1>

		{% elseif stateMsg == 2 %}

			<h1 class="h12title">納期チェンジャー　( 納期変更の「承認」を行なってください。 )</h1>

		{% elseif stateMsg == 3 %}

			<h1 class="h13title">納期チェンジャー　( 納期変更を「オンラインで変更」してください。 )</h1>

		{% elseif stateMsg == 4 %}

			<h1 class="h14title">納期チェンジャー　( 納期変更の「確認」を行なってください。 )</h1>

		{% elseif stateMsg == 5 %}

			<h1 class="h15title">納期チェンジャー　( 納期変更の「完了」を行なってください。 )</h1>

		{% elseif stateMsg == 6 %}

			<h1 class="h16title">納期チェンジャー　( 納期変更の「完了保管箱」の内容です。 )</h1>

		{% else %}

		{% endif %}


    </div>
	